In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('C:/Users/gupta/Python jypter notebook/Data/FT100 Ranking Data- 5.xlsx')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 128 entries, Rank to Gap Year
dtypes: float64(79), int64(21), object(28)
memory usage: 100.1+ KB

Yearly Rank Change

In [6]:
years = [2022, 2021, 2020, 2019]
for year in years:
    prev_year = year - 1
    df[f'Careers service rank {year}-{prev_year}'] = df[f'Careers service rank {year}'] - df[f'Careers service rank {prev_year}']

In [7]:
years = [2022, 2021, 2020, 2019]
for year in years:
    prev_year = year - 1
    df[f'International course experience rank {year}-{prev_year}'] = df[f'International course experience rank {year}'] - df[f'International course experience rank {prev_year}']

In [8]:
years = [2022, 2021, 2020, 2019]
for year in years:
    prev_year = year - 1
    df[f'International work mobility rank {year}-{prev_year}'] = df[f'International work mobility rank {year}'] - df[f'International work mobility rank {prev_year}']

In [9]:
years = [2022, 2021, 2020, 2019]
for year in years:
    prev_year = year - 1
    df[f'Career progress rank {year}-{prev_year}'] = df[f'Career progress rank {year}'] - df[f'Career progress rank {prev_year}']

In [10]:
years = [2022, 2021, 2020, 2019]
for year in years:
    prev_year = year - 1
    df[f'Value for money rank {year}-{prev_year}'] = df[f'Value for money rank {year}'] - df[f'Value for money rank {prev_year}']

Ranking Stability (Coefficient of Variation)

In [13]:
rank_columns = [f'Careers service rank {year}' for year in years]
df['Careers service Rank Stability'] = df[rank_columns].std(axis=1) / df[rank_columns].mean(axis=1)

In [14]:
rank_columns = [f'International course experience rank {year}' for year in years]
df['International course experience Rank Stability'] = df[rank_columns].std(axis=1) / df[rank_columns].mean(axis=1)
rank_columns = [f'International work mobility rank {year}' for year in years]
df['International work mobility Rank Stability'] = df[rank_columns].std(axis=1) / df[rank_columns].mean(axis=1)
rank_columns = [f'Career progress rank {year}' for year in years]
df['Career progress Rank Stability'] = df[rank_columns].std(axis=1) / df[rank_columns].mean(axis=1)
rank_columns = [f'Value for money rank {year}' for year in years]
df['Value for money Rank Stability'] = df[rank_columns].std(axis=1) / df[rank_columns].mean(axis=1)

In [ ]:
#Experience Change

In [15]:
faculty_columns = [f'Faculty with doctorates (%) {year}' for year in years]
df['Faculty Change'] = df[faculty_columns].diff(axis=1).mean(axis=1)

In [16]:
international_board_columns = [f'International board (%) {year}' for year in years]
df['International Board Change'] = df[international_board_columns].diff(axis=1).mean(axis=1)
women_on_board_columns = [f'Women on board (%) {year}' for year in years]
df['Women on board Change'] = df[women_on_board_columns].diff(axis=1).mean(axis=1)
female_student_columns = [f'Female students (%) {year}' for year in years]
df['Female Student Change'] = df[female_student_columns].diff(axis=1).mean(axis=1)
Female_faculty_columns = [f'Female faculty (%) {year}' for year in years]
df['Female faculty Change'] = df[Female_faculty_columns].diff(axis=1).mean(axis=1)
International_faculty_columns = [f'International faculty (%) {year}' for year in years]
df['International faculty Change'] = df[International_faculty_columns].diff(axis=1).mean(axis=1)
International_students_columns = [f'International students (%) {year}' for year in years]
df['International students Change'] = df[International_students_columns].diff(axis=1).mean(axis=1)

In [18]:
# Gender Diversity Trends
gender_columns = [f'{gender} (%) {year}' for gender in ['Female students', 'Female faculty', 'Women on board'] for year in years]
for gender_column in gender_columns:
    df[f'{gender_column} Change'] = df[gender_columns].diff(axis=1).mean(axis=1)

In [19]:
df.head()

,Rank,School Name,Location by primary campus,Careers service rank 2022,Careers service rank 2021,Careers service rank 2020,Careers service rank 2019,Careers service rank 2018,Career Service Rank Change Metrics,International board (%) 2022,...,Female students (%) 2020 Change,Female students (%) 2019 Change,Female faculty (%) 2022 Change,Female faculty (%) 2021 Change,Female faculty (%) 2020 Change,Female faculty (%) 2019 Change,Women on board (%) 2022 Change,Women on board (%) 2021 Change,Women on board (%) 2020 Change,Women on board (%) 2019 Change
0,1,University of St Gallen,Switzerland,1,1.0,1.0,1.0,NaN,0.0,53,...,-1.909091,-1.909091,-1.909091,-1.909091,-1.909091,-1.909091,-1.909091,-1.909091,-1.909091,-1.909091
1,2,HEC Paris,France,16,11.0,9.0,12.0,NaN,-4.0,83,...,-0.272727,-0.272727,-0.272727,-0.272727,-0.272727,-0.272727,-0.272727,-0.272727,-0.272727,-0.272727
2,3,"Rotterdam School of Management, Erasmus Univer...",Netherlands,32,35.0,32.0,21.0,NaN,-11.0,12,...,-2.454545,-2.454545,-2.454545,-2.454545,-2.454545,-2.454545,-2.454545,-2.454545,-2.454545,-2.454545
3,4,Stockholm School of Economics,Sweden,8,20.0,30.0,35.0,NaN,27.0,43,...,-0.636364,-0.636364,-0.636364,-0.636364,-0.636364,-0.636364,-0.636364,-0.636364,-0.636364,-0.636364
4,5,ESCP Business School,France,49,67.0,47.0,42.0,NaN,-7.0,95,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000

In [20]:
# Satisfaction Trends
satisfaction_columns = [f'Overall satisfaction {year}' for year in years]
df['Satisfaction Change'] = df[satisfaction_columns].diff(axis=1).mean(axis=1)

In [22]:
# Internationalization Trends
intl_columns = [f'{intl} (%) {year}' for intl in ['International students', 'International faculty', 'International board'] for year in years]
for intl_column in intl_columns:
    df[f'{intl_column} Change'] = df[intl_columns].diff(axis=1).mean(axis=1)

In [25]:
#Career Progress vs. Salary Correlation
df['Career Progress vs. Salary Correlation'] = df['Career progress rank 2022'].corr(df['Salary percentage increase 2022'])

In [26]:
# Value for Money Index
df['Value for Money Index'] = df['Value for money rank 2022'] / df['Weighted salary (US$) 2022']

In [28]:
#Program Characteristics (Count)
program_characteristics = ['GMAT/GRE Required', 'Thesis Required', 'Co op/Internship: Required']

# Convert the 'Programmes/Streams Offered' column to a string and then count occurrences
for characteristic in program_characteristics:
    df[f'{characteristic} Count'] = df['Programmes/Streams Offered'].astype(str).apply(lambda x: x.count(characteristic))

In [30]:
# Scholarship Availability (Count)
# Convert the 'Scholarships' column to strings and then count 'Yes' values
df['Scholarships Count'] = df['Scholarships'].astype(str).apply(lambda x: x.count('Yes'))

In [31]:
print(df.head())

   Rank                                        School Name  \
0     1                            University of St Gallen
1     2                                          HEC Paris
2     3  Rotterdam School of Management, Erasmus Univer...
3     4                      Stockholm School of Economics
4     5                               ESCP Business School

  Location by primary campus  Careers service rank 2022  \
0                Switzerland                          1
1                     France                         16
2                Netherlands                         32
3                     Sweden                          8
4                     France                         49

   Careers service rank 2021  Careers service rank 2020  \
0                        1.0                        1.0
1                       11.0                        9.0
2                       35.0                       32.0
3                       20.0                       30.0
4                       67.0                       47.0

   Careers service rank 2019  Careers service rank 2018  \
0                        1.0                        NaN
1                       12.0                        NaN
2                       21.0                        NaN
3                       35.0                        NaN
4                       42.0                        NaN

   Career Service Rank Change Metrics  International board (%) 2022  ...  \
0                                 0.0                            53  ...
1                                -4.0                            83  ...
2                               -11.0                            12  ...
3                                27.0                            43  ...
4                                -7.0                            95  ...

   International board (%) 2022 Change  International board (%) 2021 Change  \
0                            -3.636364                            -3.636364
1                             2.454545                             2.454545
2                            -3.272727                            -3.272727
3                            -4.363636                            -4.363636
4                            -4.454545                            -4.454545

   International board (%) 2020 Change  International board (%) 2019 Change  \
0                            -3.636364                            -3.636364
1                             2.454545                             2.454545
2                            -3.272727                            -3.272727
3                            -4.363636                            -4.363636
4                            -4.454545                            -4.454545

   Career Progress vs. Salary Correlation  Value for Money Index  \
0                               -0.566495               0.000109
1                               -0.566495               0.000370
2                               -0.566495               0.000226
3                               -0.566495               0.000217
4                               -0.566495               0.000815

   GMAT/GRE Required Count  Thesis Required Count  \
0                        0                      0
1                        0                      0
2                        0                      0
3                        0                      0
4                        0                      0

   Co op/Internship: Required Count  Scholarships Count
0                                 0                   1
1                                 0                   1
2                                 0                   1
3                                 0                   1
4                                 0                   1

[5 rows x 196 columns]

In [32]:
df.to_csv('output_dataset.csv', index=False)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Columns: 196 entries, Rank to Scholarships Count
dtypes: float64(143), int64(25), object(28)
memory usage: 153.3+ KB

In [37]:
df["Rank in 2022"].value_counts()

50     3
54     2
12     2
74     2
57     2
      ..
32     1
31     1
30     1
27     1
100    1
Name: Rank in 2022, Length: 85, dtype: int64

In [39]:
numeric_features = ["Rank Change 2022-2021", "Rank Change 2021-2020", "Rank Change 2020-2019", "Careers service rank 2022-2021", "International course experience rank 2022-2021", "International work mobility rank 2022-2021",
                    "Career progress rank 2022-2021","Value for money rank 2022-2021","Rank Stability","Women on board Change",
                   "Female Student Change","Female faculty Change","International students (%) 2021 Change","Career Progress vs. Salary Correlation"]
categorical_features = ["School Name", "Location by primary campus"]
target = 'Rank in 2022'
X = df[numeric_features + categorical_features]
y = df[target]

In [41]:
X

,Rank Change 2022-2021,Rank Change 2021-2020,Rank Change 2020-2019,Careers service rank 2022-2021,International course experience rank 2022-2021,International work mobility rank 2022-2021,Career progress rank 2022-2021,Value for money rank 2022-2021,Rank Stability,Women on board Change,Female Student Change,Female faculty Change,International students (%) 2021 Change,Career Progress vs. Salary Correlation,School Name,Location by primary campus
0,0.0,0.0,0.0,0.0,3.0,0.0,-14.0,0.0,0.037248,-0.333333,-2.000000,-2.333333,-3.636364,-0.566495,University of St Gallen,Switzerland
1,0.0,0.0,0.0,5.0,4.0,0.0,-9.0,3.0,0.093591,0.000000,-2.333333,-4.000000,2.454545,-0.566495,HEC Paris,France
2,-2.0,0.0,-1.0,-3.0,19.0,-1.0,-25.0,0.0,0.110720,-4.000000,2.000000,-1.666667,-3.272727,-0.566495,"Rotterdam School of Management, Erasmus Univer...",Netherlands
3,-4.0,1.0,-6.0,-12.0,6.0,-8.0,-21.0,-1.0,0.293423,-1.000000,1.333333,-2.666667,-4.363636,-0.566495,Stockholm School of Economics,Sweden
4,-2.0,1.0,1.0,-18.0,0.0,1.0,21.0,0.0,0.083518,-9.666667,0.000000,-0.333333,-4.454545,-0.566495,ESCP Business School,France
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.566495,"NMIMS Mumbai, School of Business Management",India
96,NaN,NaN,NaN,NaN,NaN,NaN,-15.0,NaN,NaN,NaN,NaN,NaN,NaN,-0.566495,International Management Institute New Delhi,India
97,7.0,1.0,6.0,-38.0,NaN,1.0,10.0,0.0,0.168325,2.666667,-1.000000,1.333333,3.272727,-0.566495,Corvinus University of Budapest,Hungary
98,5.0,NaN,NaN,8.0,NaN,0.0,-53.0,-3.0,0.065232,-7.000000,18.000000,0.000000,-7.800000,-0.566495,University of Exeter Business School,UK
99,4.0,15.0,NaN,-3.0,NaN,-1.0,NaN,-6.0,0.080317,-0.500000,1.500000,-1.500000,1.833333,-0.566495,University of British Columbia: Sauder,Canada

In [42]:
y

0       1
1       2
2       3
3       4
4       5
     ...
95     96
96     97
97     98
98     99
99    100
Name: Rank in 2022, Length: 100, dtype: int64

In [44]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(), categorical_features)
    ])
X = preprocessor.fit_transform(X)

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
lr_model = LogisticRegression(random_state=42)
lr_model.fit(X_train, y_train)
y_pred = lr_model.predict(X_test)

In [68]:
y_pred = lr_model.predict(X_test)

In [70]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [72]:
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)
print(f'Accuracy: {accuracy:.4f}')
print('Confusion Matrix:\n', conf_matrix)
print('Classification Report:\n', classification_rep)

Accuracy: 0.0000
Confusion Matrix:
 [[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0]]
Classification Report:
               precision    recall  f1-score   support

           1       0.00      0.00      0.00       1.0
           5       0.00      0.00      0.00       1.0
          11       0.00      0.00      0.00       1.0
          12       0.00      0.00      0.00       1.0
          19       0.00      0.00      0.00       1.0
          21       0.00      0.00      0.00       0.0
          23       0.00      0.00      0.00       1.0
          31       0.00      0.00      0.00       1.0
          32       0.00      0.00      0.00       1.0
          33       0.00      0.00      0.00       1.0
          40       0.00      0.00      0.00       1.0
          41       0.00      0.00      0.00       0.0
          45       0.00      0.00      0.00       1.0
          46       0.00      0.00      0.00       1.0
          47       0.00      0.00      0.00       0.0
          50       0.00      0.00      0.00       0.0
          54       0.00      0.00      0.00       1.0
          57       0.00      0.00      0.00       0.0
          71       0.00      0.00      0.00       1.0
          74       0.00      0.00      0.00       1.0
          77       0.00      0.00      0.00       1.0
          78       0.00      0.00      0.00       1.0
          81       0.00      0.00      0.00       1.0
          84       0.00      0.00      0.00       1.0
          91       0.00      0.00      0.00       1.0

    accuracy                           0.00      20.0
   macro avg       0.00      0.00      0.00      20.0
weighted avg       0.00      0.00      0.00      20.0

C:\Users\gupta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gupta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gupta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gupta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gupta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\gupta\anaconda3\Lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))