In [1]:
import pandas as pd
df = pd.read_excel("C:/Users/gupta/Python jypter notebook/Data/Excel3.xlsx")

In [2]:
pd.set_option('display.max_rows', None)
df.isnull().sum().sort_values(ascending=False)

2022.Threeyear average                            50
Students per Staff                                47
Research Quality                                  38
Career progress rank 2022-2021                    38
2022.Rank in 2021                                 38
Value for money rank 2022-2021                    38
International work mobility rank 2022-2021        38
International course experience rank 2022-2021    38
Satisfaction Change                               30
Faculty Change                                    30
Careers service Rank Stability                    27
2022.Delimited                                    26
2022.Employed at three months (%)                 26
2022.Aims achieved (%)                            25
2022.Women on board (%)                           25
2022.Internships (%)                              25
2022.Faculty with doctorates (%)                  25
2022.International work mobility rank             25
2022.Average course length (months)               25
2022.Overall satisfaction                         25
2022.Female students (%)                          25
2022.International students (%)                   25
2022.Female faculty (%)                           25
2022.Career progress rank                         25
2022.Salary percentage increase                   25
2022.Weighted salary (US$)                        25
2022.International course experience rank         25
2022.International faculty (%)                    25
2022.Value for money rank                         25
2022.Careers service rank                         25
2022.International board (%)                      25
2021.Female students (%)                          25
2021.Women on board (%)                           25
2021.Employed at three months (%)                 25
2021.Delimited                                    25
2021.Female faculty (%)                           25
2021.International faculty (%)                    25
2021.International work mobility rank             25
2021.International board (%)                      25
2021.Three-year average                           25
2021.Faculty with doctorates (%)                  25
2021.Overall satisfaction                         25
2021.Average course length (months)               25
2021.Company internships (%)                      25
2021.Career progress rank                         25
2021.Weighted salary (US$)                        25
2021.International students (%)                   25
2021.Salary percentage increase                   25
2021.Aims achieved (%)                            25
2021.Careers service rank                         25
2021.International course experience rank         25
2021.Value for money rank                         25
2021.Salary today (US$) *                         25
2021.Extra languages                              25
Citations per Faculty                             23
Average Experience of Faculty                     15
School Name                                        0
dtype: int64

In [3]:
df.drop("2022.Threeyear average", inplace=True, axis=1)
df.drop("Students per Staff", inplace=True, axis=1)

In [4]:
categorical_columns = df.select_dtypes(include=['object', 'category'])
print("Categorical Columns:")
print(categorical_columns)

Categorical Columns:
                                           School Name  \
0                              University of St Gallen
1                                            HEC Paris
2                               London Business School
3                                Essec Business School
4                                 ESCP Business School
5                       SDA Bocconi/Università Bocconi
6                   University College Dublin: Smurfit
7    Rotterdam School of Management, Erasmus Univer...
8                                   IE Business School
9                                Esade Business School
10                       Stockholm School of Economics
11    WU (Vienna University of Economics and Business)
12                              University of Mannheim
13                    Imperial College Business School
14            WHU – Otto Beisheim School of Management
15                               Edhec Business School
16                Shanghai Jiao Tong University: Antai
17                             Warwick Business School
18         Prague University of Economics and Business
19   St Petersburg University, Graduate School of M...
20            Indian Institute of Management Bangalore
21            The University of Sydney Business School
22                HEC Lausanne, University of Lausanne
23          Frankfurt School of Finance and Management
24               Nova School of Business and Economics
25    Católica Lisbon School of Business and Economics
26                          Iéseg School of Management
27               Bayes Business School (formerly Cass)
28           HHL Leipzig Graduate School of Management
29                      Eada Business School Barcelona
30   Tongji University School of Economics and Mana...
31                          Copenhagen Business School
32                                            Audencia
33                              EMLyon Business School
34                             Vlerick Business School
35                               Neoma Business School
36                        Grenoble Ecole de Management
37                                         IQS/FJU/LMU
38                           Antwerp Management School
39                                    Aalto University
40                                       TBS Education
41            Tias Business School, Tilburg University
42     IAE Aix-Marseille Graduate School of Management
43                   MBS (Montpellier Business School)
44                           Queen's University: Smith
45             Louvain School of Management, UCLouvain
46              Institut Mines-Télécom Business School
47                      Nyenrode Business Universiteit
48             University of Edinburgh Business School
49                          Hanken School of Economics
50                   Durham University Business School
51   Solvay Brussels School of Economics and Manage...
52                   University of Victoria: Gustavson
53                        EM Normandie Business School
54                       EM Strasbourg Business School
55                 Alliance Manchester Business School
56                         Burgundy School of Business
57                     Corvinus University of Budapest
58     Singapore Management University: Lee Kong Chian
59   University of Ljubljana, School of Economics a...
60                                    Luiss University
61                             Excelia Business School
62          Politecnico di Milano School of Management
63                     National Sun Yat-sen University
64                                         ESMT Berlin
65   Tilburg University, School of Economics and Ma...
66              Indian Institute of Management Udaipur
67     Trinity College Dublin, Trinity Business School
68              University of British Columbia: Sauder
69                                 DCU Business School
70                    Global 3: McIntire/Lingnan/Esade
71   SP Jain Institute of Management & Research (SP...
72                   ZHAW School of Management and Law
73   Lund University School of Economics and Manage...
74                            Paris School of Business
75                               Skema Business School
76                  Hult International Business School
77                                 ICN Business School
78                   NHH Norwegian School of Economics
79                            Tum School of Management
80                               Iscte Business School
81   University of Antwerp Faculty of Business and ...
82                University of Exeter Business School
83               Indian Institute of Management Indore
84   Tsinghua University School of Economics and Ma...
85              Indian Institute of Management Lucknow
86             Jönköping International Business School
87                           Rennes School of Business
88                          Essca School of Management
89                               University of Cologne
90                      SGH Warsaw School of Economics
91                        ESC Clermont Business School
92                                   IBS-Moscow Ranepa
93                            Deusto/Audencia/Bradford
94                 University of South Carolina: Moore
95                          Esdes Lyon Business School
96                               Rabat Business School
97                          Lucerne School of Business
98         NMIMS Mumbai, School of Business Management
99        International Management Institute New Delhi
100           Indian Institute of Management Ahmedabad
101                               Kozminski University
102  Maastricht University School of Business and E...
103                              Kedge Business School
104             Lancaster University Management School
105            University of Bath School of Management
106                     Cranfield School of Management
107                    University Carlos III de Madrid
108                             Henley Business School
109                       BI Norwegian Business School
110    Hong Kong Baptist University School of Business
111  Adam Smith Business School, University of Glasgow
112  University of Porto — School of Economics and ...
113                               Cems Global Alliance
114            Indian Institute of Management Calcutta
115                   Leeds University Business School
116                       National Chengchi University
117          University of Strathclyde Business School
118                          Université Paris-Dauphine
119                                          ISC Paris
120                  Nottingham Business School at NTU
121                              HKUST Business School
122          University of Liverpool Management School
123        University of Bradford School of Management
124                             Brunel Business School

    2021.Three-year average 2022.Internships (%)
0                         1                  100
1                         2                   85
2                         4                   30
3                         4                  100
4                         6                  100
5                        12                   97
6                         6                  100
7                         5                   97
8                        18                   22
9                        14                   40
10                        9                  100
11                       13                  100
12                       25                   64
13                       11                   38
14                       17                  100
15                       15                  100
16                       24                   91
17                       18                    3
18                       18                   84
19                       31                  100
20                       42                  100
21                       38                  100
22                       33                   81
23                       33                    9
24                       20                   71
25                       42                   85
26                       33                  100
27                       33                    0
28                       25                  100
29                       37                  100
30                       31                  100
31                       47                    5
32                       48                  100
33                       30                  100
34                       32                  100
35                       34                  100
36                       45                   81
37                       30                  100
38                       45                  100
39                       54                   37
40                       62                  100
41                       58                   48
42                       45                  100
43                       57                  100
44                       54                   20
45                       75                   89
46                       64                  100
47                       75                    0
48                       60                    0
49                       64                   54
50                       55                    0
51                       70                  100
52                       75                  100
53                       76                  100
54                       81                  100
55                       71                    0
56                       70                  100
57                       88                    5
58                       84                  100
59                       78                   41
60                       83                  100
61                       52                  100
62                       89                  100
63                        -                   24
64                       24                  100
65                       52                   44
66                       77                  100
67                        -                    0
68                        -                    0
69                        -                    0
70                        -            No data §
71                        -                  100
72                        -                    0
73                        -                    4
74                        -                  100
75                        -                  100
76                        -                    5
77                        -                  100
78                        -                   20
79                        -                    0
80                        -                    0
81                        -                   17
82                        -                    0
83                        -                  100
84                        -                  100
85                        -                  100
86                        -                   60
87                      NaN                  100
88                      NaN                  100
89                      NaN                  100
90                      NaN                   24
91                      NaN                  100
92                      NaN                  100
93                      NaN                  100
94                      NaN                    7
95                      NaN                  100
96                      NaN                  100
97                      NaN                    0
98                      NaN                  100
99                      NaN                  100
100                      22                  NaN
101                      47                  NaN
102                      40                  NaN
103                      54                  NaN
104                      72                  NaN
105                      60                  NaN
106                       -                  NaN
107                       -                  NaN
108                       -                  NaN
109                       -                  NaN
110                       -                  NaN
111                       -                  NaN
112                       -                  NaN
113                     NaN                  NaN
114                     NaN                  NaN
115                     NaN                  NaN
116                     NaN                  NaN
117                     NaN                  NaN
118                     NaN                  NaN
119                     NaN                  NaN
120                     NaN                  NaN
121                     NaN                  NaN
122                     NaN                  NaN
123                     NaN                  NaN
124                     NaN                  NaN

In [9]:
df.drop("2021.Three-year average", inplace=True, axis=1)

KeyError: "['2021.Three-year average'] not found in axis"

In [12]:
df.drop("2022.Internships (%)", inplace=True, axis=1)

In [14]:
df["binned_group"] = pd.cut(df["Rank in 2021"], bins = 10, labels=["1-10","11-20","21-30","31-40","41-50","51-60","61-70","71-80","81-90","91-100"])

KeyError: 'Rank in 2021'